@media screen and (max-width: 807px) and (min-width: 592px) {
    .card-item {
        width: 260px;
    }

    .main-title {
        font-size: 32px;
    }
}

@media screen and (max-width: 591px) {
    header > div > div, footer > div > div > div {
        flex-direction: column !important;
        align-items: center !important;
    }
    footer > div > div > div > div {
        justify-content: center;
        width: 100%;
    }

    .card-item {
        align-items: center;
        width: 100%;
    }
    .card-item img {
        width: 100%;
    }
    .card-item-title {
        font-size: 21px;
    }
    .card-item-note {
        font-size: 18px;
    }

    .main-title {
        font-size: 24px;
    }

    footer img {
        width: 80%;
    }
    footer nav {
        justify-content: center;
    }


    .card-item-info {
        width: 100%;
        border-radius: 12px;
        padding: 24px;
    }
    .card-item-info img {
        height: 150px;
    }
    .card-item-info > div > h1 {
        flex-wrap: wrap;
        font-size: 32px;
    }
    .card-item-info > div > h2 {
        font-size: 20px;
    }
    .card-item-info .box-left, .card-item-info .box-right {
        width: 100%;
    }
    .card-item-info .box-left > p {
        color: var(--black);
        font-size: 16px;
        line-height: 12px;
    }
    .card-item-info > div > div {
        flex-direction: column !important;
    }
    .card-item-info .box-right > div > h3 {
        font-size: 24px;    
    }
    .card-item-info .box-right > div > p {
        font-size: 16px;
    }
}